In [1]:
import pandas as pd
import textwrap

import numpy as np
from collections import defaultdict
import matplotlib.pyplot as plt

mySpecie='Homo_sapiens'
#change base dir to your data location
baseDir='/cellar/users/btsui/Data/SRA/snp/'
skymap_snp_dir='/cellar/users/btsui/all_seq_snp/'+mySpecie+'_all_merged_snp.pickle'

#skymap_snp_dir=baseDir+'{specie}_snp_pos/'.format(specie=mySpecie)
import os

In [2]:
skymapSnpDf=pd.read_pickle(skymap_snp_dir)

In [23]:
skymapSnpDf['AverageBaseQuality'].quantile(0.2)

32.0

In [3]:
readCutoff=2

m=skymapSnpDf['ReadDepth']>=readCutoff
#skymapSnpDf_subDf['AverageBaseQuality']
skymapSnpDf_subDf=skymapSnpDf[m]

In [4]:
posByStudyS=skymapSnpDf_subDf.groupby(['Chr','Pos','base']).size()

In [5]:
#show the read counts, 
#show the number of bases covered 
len(posByStudyS)

253472

In [6]:
#posByStudyS

In [7]:
#x-axis: alternative allele count
#posByStudyS

In [8]:
#!ls  -lath /nrnb/users/btsui/Data/all_seq/tmp/

In [9]:
#!ls /cellar/users/btsui/Data/SRA/snp/Homo_sapiens_snp_pos/

In [10]:
#!ls -lath /nrnb/users/btsui/Data/all_seq/tmp/

In [11]:
#os.listdir(skymap_snp_dir)

In [12]:
skymap_snp_dir+os.listdir(skymap_snp_dir)[0]

NotADirectoryError: [Errno 20] Not a directory: '/cellar/users/btsui/all_seq_snp/Homo_sapiens_all_merged_snp.pickle'

In [ ]:
hdf_s=pd.HDFStore(skymap_snp_dir+'Pos_block_29100000',mode='r')

In [13]:
tmpChunkDf=hdf_s['/chunk']

NameError: name 'hdf_s' is not defined

In [14]:
#.reset_index()
g=tmpChunkDf[tmpChunkDf['ReadDepth']>2].groupby([b'Chr','Pos',b'base'])

NameError: name 'tmpChunkDf' is not defined

In [78]:
print ('# of samples:',tmpChunkDf['Run_digits'].nunique())

# of samples: 151568

In [94]:
#tmpChunkDf

In [80]:
rdMedianS=g['ReadDepth']#.sum()

In [95]:
tmpChunkDf

b'features'               Run_digits       Pos  ReadDepth  AverageBaseQuality  \
b'Chr' b'base' b'Run_db'
18     G       SRR           3094396  29102295          2                  38
       T       SRR            568452  29102295          1                  27
               SRR           1201234  29102295          1                  41
12     A       SRR           3094396  29105394          5                  37
               SRR           5197171  29105394          1                   2
       G       SRR           5197171  29105394          1                  37
       A       SRR           2125425  29105394          5                  34
               SRR             20518  29105394          1                  31
               SRR           5198890  29105394          1                  38
16     T       SRR           5197171  29109843          1                  35
               SRR           2148761  29109843          1                  35
               SRR           5198890  29109843          2                  38
               SRR            402503  29109843          1                  41
               SRR           2125425  29109843          1                  33
               SRR           1201234  29109843          1                  41
               SRR           1918523  29109843          1                   2
17     G       SRR            830996  29111451         42                  31
       A       SRR            402503  29111451          1                  40
       G       SRR           5197171  29111451          1                  38
       A       SRR           1585539  29111451          3                  55
               SRR            581928  29111451          3                  33
               SRR           3096642  29111451         11                  38
       G       SRR           3096642  29111451         16                  34
               SRR           5224344  29111451          2                  35
       A       SRR           5224344  29111451          5                  37
       G       SRR            399205  29111451          1                  41
       A       SRR            399205  29111451          2                  37
               SRR           1850979  29111451          1                  21
       G       SRR           3547450  29111451          1                  35
       A       SRR           3096831  29111451         22                  32
...                              ...       ...        ...                 ...
2      C       SRR           5322158  29197676          2                   8
               SRR            393179  29197676          6                  37
               SRR           1518150  29197676          4                  40
               SRR           5882189  29197676          4                  42
               SRR           3030702  29197676          3                  31
               SRR           2971320  29197676          2                  38
       T       SRR           1509423  29197676          1                  37
       C       SRR            590775  29197676          3                  40
               SRR           3170127  29197676          6                  31
               SRR            596798  29197676          4                  30
       A       SRR           1509423  29197676          1                  37
       G       SRR           1509423  29197676          1                  33
       C       SRR           5356251  29197676          3                  39
               SRR           1509423  29197676         63                  37
               SRR           3938516  29197676          1                  40
               SRR           2038315  29197676          5                  36
7      A       SRR           4422435  29198378          1                  37
               ERR            183395  29198378          3                  33
               SRR            501919  29198378          2                  39
               SRR            796754  29198378          1                  29
               SRR           2971320  29198378          1                  35
               SRR           2301053  29198378          2                  35
       G       SRR            394091  29198378          1                  30
               SRR           3165034  29198378          1                  36
       A       SRR           5322158  29198378          2                   6
               SRR           3170127  29198378         21                  36
               SRR           4022259  29198378          1                  30
               SRR           1282230  29198378          1                  30
               SRR           2034920  29198378          1                  34
               SRR            948653  29198378          2                  35

b'features'                  block
b'Chr' b'base' b'Run_db'
18     G       SRR        29100000
       T       SRR        29100000
               SRR        29100000
12     A       SRR        29100000
               SRR        29100000
       G       SRR        29100000
       A       SRR        29100000
               SRR        29100000
               SRR        29100000
16     T       SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
17     G       SRR        29100000
       A       SRR        29100000
       G       SRR        29100000
       A       SRR        29100000
               SRR        29100000
               SRR        29100000
       G       SRR        29100000
               SRR        29100000
       A       SRR        29100000
       G       SRR        29100000
       A       SRR        29100000
               SRR        29100000
       G       SRR        29100000
       A       SRR        29100000
...                            ...
2      C       SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
       T       SRR        29100000
       C       SRR        29100000
               SRR        29100000
               SRR        29100000
       A       SRR        29100000
       G       SRR        29100000
       C       SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
7      A       SRR        29100000
               ERR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
       G       SRR        29100000
               SRR        29100000
       A       SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000
               SRR        29100000

[3134531 rows x 5 columns]

In [82]:
np.log2(rdMedianS+1).hist()

TypeError: unsupported operand type(s) for +: 'SeriesGroupBy' and 'int'

In [67]:
#pd.read_pickle(skymap_snp_dir+os.listdir(skymap_snp_dir)[2])

In [88]:
!grep _snp_pos ./../../**/*.ipynb
#grep _snp_pos ./**/*.ipynb

./../../UpdatePipeline/UploadDataToSynapse.ipynb:       "'tar -zcvf /data/cellardata/users/btsui/SRA/snp/Homo_sapiens_snp_pos.tar.gz /data/cellardata/users/btsui/SRA/snp/Homo_sapiens_snp_pos'"

In [89]:
#grep -r --include "*.ipynb" _snp_pos .

/cellar/users/btsui/Project/METAMAP/notebook/RapMapTest/XGS_WGS

In [ ]:
#find -name "parse"